MIME-Version: 1.0
Content-Type: multipart/mixed; boundary="//"

--//
Content-Type: text/x-shellscript; charset="us-ascii"
#!/bin/bash
set -o xtrace
/etc/eks/bootstrap.sh  '${env}'-cluster --kubelet-extra-args '--node-labels=infra-env='${env}',infra-product='${product}',infra-service=kubernetes,infra-node-group=eks-tools-node-group,eks.amazonaws.com/capacityType=ON_DEMAND,eks.amazonaws.com/nodegroup=eks-tools-node-group,Name=eks-tools-node-group --register-with-taints=Service=eks-tools:NoSchedule'  --apiserver-endpoint '${aws_eks_cluster_cluster_endpoint}' --b64-cluster-ca '${aws_eks_cluster_cluster_certificate_authority_data}' 

--//--